.nav {
    grid-area: n;
    background-color: brown;
    padding: 20px;
}

.item {
    color: darkgrey;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Arial Rounded MT Bold";
}

.item:hover {
    color:  dimgray;
    cursor: pointer;
}

.active {
    color: black;
}